.login-page {
    height: 100vh;
    background: #260B0A;
}
.login-two-sides-container {
    display: flex;
    justify-content: space-between;
}


.login-left-panel {
    width: 50%;
}
.login-auxiliary-container {
    margin: 20% auto;
    width: 360px;

    color: #D4D9E2;
}
.login-title {
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 49px;

    background: linear-gradient(90deg, #FFCE76 0%, #E79560 39.57%, #D2644E 65.8%, #BA2B38 88.32%, rgba(17, 0, 0, 0.0677083) 88.33%, #BA2B38 88.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.login-sign-up {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
.login-text-for-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;

    color: #FFCE76;
}
.login-button-for-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;

    cursor: pointer;

    color: #BA2B38;
    background: none;
    border: none;
}

.login-form-container .custom-input {
    padding-bottom: 15px;
}

.login-button-sign-in {
    width: 360px;
    height: 50px;
    margin-top: 20px;

    font-family: 'Hind Mandurai', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;

    font-size: 16px;
    cursor: pointer;
    color: #E79560;
    background: #452015;
    border: #452015;
    border-radius: 15px;
}



.login-right-gradient {
    width: 50%;
    height: 100vh;
    background-image: url('../../icons/LoginGradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.input_error {
    margin: 5px;
    color: #D72130;
}