.change-password-container {

}

.change-password-tips {
    width: 800px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.change-password-auxiliary {
    padding-left: 220px;
}

.retreat-15 {
    padding-bottom: 15px;
}


.change-password-container .password-container {
    width: 360px;
}

.change-password-container .eye {
    bottom: 16px;
}