html {
    background-image: url('../../icons/MeshGradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page {
    width: 100%;
    height: 100%;
    color: #FFCE76;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.main-calculator {
    padding-left: 100px;
    width: 1000px;
}
.main-container {
    height: 100%;
    padding: 100px 20px;
}
.main-auxiliary-container {
    width: 1200px;

    border-radius: 12px;
    margin: 1px auto 0 auto;
    background-color: #2F0E0D;
}

.main-equations-solver {
    text-align: center;
    padding-top: 25px;
    font-size: 30px;
    color: #FFFFFF;
}
.main-span-yellow {
    color: #FFCE76;
}
.main-span-orange {
    color: #FF8E45;
}
.main-tip {
    text-align: center;
    padding-top: 30px;
    font-size: 22px;
    color: #FFFFFF;
}

.main-auxiliary-form-container {
    padding-top: 25px;
    display: flex;

    font-size: 22px;
}
.main-file-name-inputs {
    height: 100px;
}
.main-file-name {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 50px;
    color: #FFFFFF;
}

.main-auxiliary-import-files {
    padding-top: 10px;
}
.main-select-file {
    background-image: url('../../icons/import-csv.svg');
    background-repeat: no-repeat;
    padding: 10px 0;
}
.main-label-file {

}

.main-select-input {
    opacity: 0;
    z-index: -1;
    cursor: pointer;
}

.main-name-input {
    padding: 5px 5px;

    background-color: #FFCE76;
    color: #3B1B19;
    border-radius: 5px;
}

.main-button-auxiliary {
    display: flex;
    justify-content: end;
    padding-bottom: 25px;
}
.main-button-calculate {
    padding: 15px 35px;

    border: none;
    border-radius: 12px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    background-color: #FFCE76;
    color: #3B1B19;
    cursor: pointer;

    transition: transform 0.5s;
}

.main-button-calculate:hover {
    transform: scale(1.1);
}

.main-history-container {
    height: 75%;
    min-height: 30vh;

    display: flex;
    justify-content: space-between;
}
.main-history {
    width: 600px;
    border-top: #452015 2px solid;
    border-right: #452015 2px solid;
}
.main-details {
    width: 600px;
    border-top: #452015 2px solid;
}

@media (max-width: 1200px) {
    .main-auxiliary-container {
        width: 100%;
    }
}