html {
    background-image: url('../../icons/MeshGradient.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page {
    width: 100%;
    height: 100%;
    color: #D4D9E2;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.main-container {
    height: 100%;
    padding: 120px 20px 20px 0;
}
.main-auxiliary-container {
    width: 1200px;
    min-height: 640px;

    border-radius: 12px;
    margin: 1px auto 0 auto;
    background-color: #260B0A;
}

.main-headline-container {
    display: flex;
    justify-content: center;
    margin: 0 100px;

    border-bottom: #3B1B19 1px solid;
}

.main-headline {
    text-align: center;

    width: 280px;
    padding-top: 50px;
    padding-bottom: 50px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 49px;

    background: linear-gradient(90deg, #FFCE76 0%, #E79560 39.57%, #D2644E 65.8%, #BA2B38 88.32%, rgba(17, 0, 0, 0.0677083) 88.33%, #BA2B38 88.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main-auxiliary-text {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 800px;

    font-size: 22px;
}

.main-button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 220px;

    padding-top: 70px;
    padding-bottom: 70px;
}
.main-start-calculating-text {
    font-size: 34px;
    width: 380px;
    padding-top: 15px;
}
.main-calculating-button {
    padding: 40px 100px;

    border: none;
    border-radius: 24px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    background-color: #FFCE76;
    color: #3B1B19;
    cursor: pointer;

    transition: transform 0.5s;
}
.main-calculating-button:hover {
    transform: scale(1.1);
}

.bottom-line {
    padding-top: 10px;
    margin: 0 100px;
    border-bottom: #3B1B19 1px solid;
}