.change-email-container {

}

.change-email-tips {
    width: 800px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #D9D9D9;
    text-align: center;
}

.profile-change-auxiliary {
    padding-left: 220px;
    padding-top: 10px;
    padding-bottom: 20px;
}