.change-name-container {

}

.change-name-tips {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #D9D9D9;
}
.change-name-auxiliary {
    padding-left: 98px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.change-name-container .custom-input {
    width: 360px;
}