.header-container {
    width: 100%;
    height: 80px;
    background: #260B0A;
    border: #452015 1px solid;
    position: fixed;
    display: flex;
    justify-content: space-between;
}

.header-buttons-container {
    display: flex;
    height: 80px;
}

.header-custom-profile {

}

.header-dropdown-methods {
    margin-top: 0;
    padding-left: 0;

    list-style: none;
    border: #452015 2px solid;
}

.header-dropdown-button-methods {
    height: 60px;
    width: 160px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #FFCE76;
    border: none;
    background: #260B0A;
}


ul.header-dropdown-methods li {
    display: block;
}

ul.header-dropdown-methods {
    z-index: 999;
    display: none;
}

ul li button:hover {
    background: #452015;
}

.custom-profile-auxiliary-methods:hover ul.header-dropdown-methods {
    display: block;
}

.custom-profile-auxiliary-methods:hover .header-button-methods {
    background: #452015;
}