.custom-profile-auxiliary {
    padding-right: 28px;
    padding-top: 14px;
}
.custom-profile-sign-in-up-out {
    padding: 9px;

    border: none;
    border-radius: 12px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    background-color: #FFCE76;
    color: #3B1B19;
    cursor: pointer;

    transition: transform 0.5s;
}

.custom-profile-sign-in-up-out:hover {
    transform: scale(1.1);
}