.header-button {
    height: 80px;
    width: 160px;

    border-left: #3B1B19 3px solid;
    border-right: #3B1B19 3px solid;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-button-name {
    height: 80px;
    width: 160px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;

    color: #FFCE76;
    border: none;
    background: none;
}


.header-dropdown {
    padding-top: 250px;
    padding-left: 0;

    list-style: none;
    border: #452015 2px solid;
}
.header-dropdown-button {
    height: 60px;
    width: 216px;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;

    color: #FFCE76;
    border: none;
    background: #260B0A;
}
.header-menu-button {
    right: 2px;
    top: 1px;
    position: absolute;
}


ul.header-dropdown li {
    display: block;
}
ul.header-dropdown {
    z-index: 999;
    display: none;
}
ul li button:hover {
    background: #452015;
}
.custom-profile-auxiliary:hover ul.header-dropdown {
    display: block;
}
.custom-profile-auxiliary:hover .header-button {
    background: #452015;
}


.header-button:hover {
    background: #452015;
}
.header-button-name:hover {
    transform: scale(1.2);
}

.red {
    color: #BA2B38;
}
.white {
    color: #FFFFFF;
}